<header class="kalad-header">
    <div class="header-container">
        <img src="/assets/images/logo.svg" alt="Logo KALAD" class="kalad-logo" routerLink="/home" style="cursor: pointer;">
        <nav class="kalad-nav">
            <a routerLink="/home" routerLinkActive="active">Inicio</a>
            <a routerLink="/collections" routerLinkActive="active">Colecciones</a>
            <a routerLink="/products" routerLinkActive="active">Productos</a>
            <a routerLink="/history" routerLinkActive="active">Historia</a>
            <a routerLink="/contact" routerLinkActive="active">Contacto</a>
        </nav>
        <div class="header-icons">
            <i class="fa-regular fa-user"></i>
            <i class="fa-regular fa-heart"></i>
            <i class="fa-solid fa-cart-shopping" routerLink="/cart" style="cursor: pointer;"></i>
        </div>
    </div>
</header>