<!-- Colecciones -->
<section class="colecciones-section">
    <p class="breadcrumb">Inicio / Colecciones</p>

    <a routerLink="/collections/origen">
        <div class="coleccion-banner">
            <img src="/assets/images/Banner_colecciones_kaladorigen.png" alt="Kalad Origen" />
            <h2>KALAD ORIGEN</h2>
        </div>
    </a>

    <a routerLink="/products">
        <div class="coleccion-banner">
            <img src="/assets/images/KALAD-AIRE.jpeg" alt="Kalad Aire" />
            <h2>KALAD ESSENCIA</h2>
        </div>
    </a>
</section>