<!-- Colecciones -->
<section class="colecciones-section">
    <p class="breadcrumb">
        <a routerLink="/">Inicio</a> / <span>Colecciones</span>
    </p>

    <div class="colecciones-banners">
        <a routerLink="/collections/origen">
            <div class="coleccion-banner coleccion-banner-origen">
                <img src="/assets/images/Banner_colecciones_kaladorigen.webp" alt="Kalad Origen" loading="lazy" />
                <h2>COLECCION KALAD ORIGEN</h2>
                <p class="coleccion-subtitle">El origen de una nueva elegancia.</p>
            </div>
        </a>

        <a routerLink="/collections/alba">
            <div class="coleccion-banner coleccion-banner-alba">
                <img src="/assets/images/Banner_coleccion_alba.webp" alt="Colección Alba" loading="lazy" />
                <h2>COLECCION KALAD ALBA</h2>
                <p class="coleccion-subtitle">La luz que inspira nuevas historias.</p>
            </div>
        </a>

        <a routerLink="/collections/essence">
            <div class="coleccion-banner coleccion-banner-essence">
                <img src="/assets/images/Banner_colecciones_rose.webp" alt="Kalad Essence" loading="lazy" />
                <h2>COLECCION KALAD ESSENCE</h2>
                <p class="coleccion-subtitle">La elegancia nace de lo esencial.</p>
            </div>
        </a>

        <a routerLink="/collections/ediciones-especiales">
            <div class="coleccion-banner coleccion-banner-ediciones">
                <img src="/assets/images/Banner_kalad_lume.webp" alt="KALAD LUME" loading="lazy" />
                <h2>COLECCION KALAD LUME</h2>
                <p class="coleccion-subtitle">Un detalle especial, para un momento especial.</p>
            </div>
        </a>
    </div>
</section>
