rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Productos públicos
    match /productos/{productoId} {
      allow read: if true;
      allow write: if false;
    }

    // Perfil del usuario y direcciones
    match /usuarios/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;

      match /direcciones/{docId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }

    // Pedidos (solo el dueño puede ver/crear/editar)
    match /pedidos/{pedidoId} {
      allow create: if request.auth != null && request.resource.data.userId == request.auth.uid;
      allow read, update, delete: if request.auth != null && resource.data.userId == request.auth.uid;
    }

    // Bloquea todo lo demás
    match /{document=**} {
      allow read, write: if false;
    }
  }
}
