<div class="coleccion-container">

  <!-- ===== BREADCRUMB ===== -->
  <div class="breadcrumb">
    INICIO / COLECCIONES / KALAD ORIGEN
  </div>

  <div class="layout">

    <!-- =================================== -->
    <!--            FILTROS (IZQUIERDA)      -->
    <!-- =================================== -->
   <aside class="filtros-left">

  <div class="filtro" (click)="toggle(0)">
    <span>Ordenar por</span>
    <span class="flecha" [class.open]="open[0]">⌄</span>
  </div>

  <div class="filtro" (click)="toggle(1)">
    <span>Talla</span>
    <span class="flecha" [class.open]="open[1]">⌄</span>
  </div>

  <div class="filtro" (click)="toggle(2)">
    <span>Color</span>
    <span class="flecha" [class.open]="open[2]">⌄</span>
  </div>

  <!-- ❗ SOLO UNA LÍNEA DESPUÉS DEL ÚLTIMO FILTRO -->
  <div class="linea-unica"></div>

  <div class="categoria">Bolsas</div>
  <div class="categoria">Mochilas</div>
  <div class="categoria">Morrales</div>
  <div class="categoria">Zapatos</div>

</aside>

    <!-- =================================== -->
    <!--            CONTENIDO (DERECHA)      -->
    <!-- =================================== -->
    <div class="contenido">

      <!-- ===== BANNER ===== -->
      <div class="banner-coleccion">
        <img src="assets/images/Banner_colecciones_kaladorigen.png" alt="banner kalad origen" />
        <h1 class="banner-title">KALAD ESSENCIA</h1>
      </div>

      <!-- ===== ORDENAR A LA DERECHA ===== -->
      <div class="ordenar-right">
        <span>Ordenar por:</span>
        <span class="az">A-Z</span>
        <span class="arrow small">⌄</span>
      </div>

      <!-- ===== GRID PRODUCTOS ===== -->
      <div class="grid-productos">

        <div class="card-producto" *ngFor="let p of productos">
          <div class="img-wrapper">
            <img [src]="p.imagen" />
            <span class="fav">♡</span>
          </div>

          <div class="info">
            <div class="left">
              <h3>{{ p.nombre }}</h3>
              <p>{{ p.precio  }}</p>
            </div>

            <button class="btn-cart">
              🛒
            </button>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>

