<main class="carrito-container">
    <h2>Carrito</h2>
    <label class="seleccionar-todos">
        <input type="checkbox" id="selectAll" checked> Seleccionar todos los productos
    </label>

    <div class="carrito-content">
        <div class="productos" id="carritoProductos">
            <!-- Productos cargados dinámicamente -->
        </div>

        <!-- RESUMEN -->
        <aside class="resumen">
            <p>Envíos a todo Colombia</p>
            <div class="linea"></div>
            <div class="subtotal">
                <span>Subtotal</span>
                <strong id="subtotal">$0</strong>
            </div>
            <button class="btn-comprar">Comprar Ahora</button>
        </aside>
    </div>

    <!-- SECCIÓN TE PUEDE INTERESAR -->
    <section class="interesar-section">
        <h2 class="interesar-titulo-linea"><span>Te Puede Interesar</span></h2>
        <div id="interesarGrid" class="interesar-grid"></div>
    </section>

</main>